@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	::-webkit-scrollbar {
		@apply bg-white w-4;
	}

	::-webkit-scrollbar-thumb {
		border: 5px solid transparent;
		border-radius: 100px;
		background-clip: content-box;
		@apply bg-gray-300;
	}
}

@layer components {
	.section {
		@apply py-5 md:py-12;
	}

	.rarity-badge {
		@apply absolute w-40 z-10 text-center py-1 font-bold text-white top-7 -right-10 rotate-45 select-none pointer-events-none;
	}

	.uncommon {
		@apply bg-gray-500 shadow-gray-500 shadow;
	}

	.rare {
		@apply bg-blue-500 shadow-blue-500 shadow;
	}

	.epic {
		@apply bg-violet-600 shadow-violet-600 shadow;
	}

	.legendary {
		@apply bg-yellow-400 shadow-yellow-400 shadow;
	}

	.section-title {
		@apply text-center text-[26px] uppercase md:text-[44px];
	}

	.brands-item img {
		@apply h-full w-full object-scale-down;
	}

	.brandsPrev {
		@apply absolute top-1/2 -left-5 z-10 h-7 w-7 -translate-y-1/2 cursor-pointer select-none overflow-hidden rounded-full text-[#9E9E9E];
	}

	.brandsNext {
		@apply absolute top-1/2 -right-5 z-10 h-7 w-7 -translate-y-1/2 cursor-pointer select-none overflow-hidden rounded-full text-[#9E9E9E];
	}

	.btn {
		@apply border border-accent px-4 py-2 text-[10px] text-accent transition-all lg:text-sm;
	}

	.btn-hover {
		@apply bg-accent text-white;
	}

	.productPrev {
		@apply flex h-8 w-8 cursor-pointer items-center justify-center bg-[#9B9B9B]/40;
	}

	.productNext {
		@apply flex h-8 w-8 cursor-pointer items-center justify-center bg-[#9B9B9B]/40;
	}

	.product-name {
		@apply text-2xl font-Roboto font-bold uppercase;
	}

	.product-detail {
		@apply font-Roboto space-x-[10px] basis-1/2 grow;
	}

	.product-detail span {
		@apply text-[#666666];
	}

	.product-description {
		@apply text-sm text-[#666666];
	}

	.product-price {
		@apply text-accent text-[22px] border border-accent font-bold flex items-center py-3 px-5 space-x-[10px] justify-center;
	}

	.product-price p {
		@apply text-[28px] space-x-[5px] flex;
	}

	.product-qty {
		@apply space-x-[10px] flex items-center flex-grow h-[50px];
	}

	.product-qty__button {
		@apply flex items-center flex-grow h-full;
	}

	.product-qty__button button {
		@apply w-10 h-[50px];
	}

	.product-qty__button p {
		@apply flex-grow text-lg flex space-x-[5px] justify-center border-y border-[#C4C4C4] h-full items-center;
	}

	.product-size {
		@apply text-accent text-[22px] font-bold flex space-x-2;
	}

	.product-size span {
		@apply uppercase;
	}

	.product-form__sizes {
		@apply flex items-center space-x-[10px] uppercase text-base;
	}

	.product-form__sizes input {
		@apply appearance-none w-3 sm:w-4 h-3 sm:h-4 border border-[#666666] rounded-full indeterminate:border-[#666666] checked:bg-accent checked:border-accent cursor-pointer;
	}

	.swiper-wrapper .swiper-slide-thumb-active {
		@apply bg-accent transition-all;
	}

	.breadcrumbs {
		@apply text-[10px] lg:text-[15px] flex space-x-1 lg:space-x-2 flex-wrap;
	}

	.breadcrumbs li {
		@apply after:content-['/'] after:ml-1 lg:after:ml-2 last:after:content-none;
	}

	.product-size {
		@apply text-accent text-[22px] font-bold flex space-x-2;
	}

	.product-size span {
		@apply uppercase;
	}

	.product-form__sizes {
		@apply flex items-center space-x-[10px] uppercase text-base;
	}

	.product-form__sizes input {
		@apply appearance-none w-3 sm:w-4 h-3 sm:h-4 border border-[#666666] rounded-full indeterminate:border-[#666666] checked:bg-accent checked:border-accent cursor-pointer;
	}

	.filter-checkbox {
		@apply uppercase;
	}

	.filter-checkbox li {
		@apply flex items-center space-x-2;
	}

	.filter-checkbox > li > input {
		@apply appearance-none w-4 h-4 border border-[#666666] checked:bg-accent checked:border-accent outline-none cursor-pointer;
	}

	.filter-checkbox > li > label {
		@apply cursor-pointer;
	}

	.footer {
		@apply mt-auto bg-darkAccent pt-[25px] md:pt-[50px];
	}

	.footer-title {
		@apply text-base font-medium text-white md:text-xl;
	}

	.footer-base {
		@apply bg-darkAccent py-[15px] md:py-[30px];
	}
}
